.signup {
    width: 350px;
    height: 484px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#ccc;
    border:none;
    box-shadow: 0px 4px 8px rgba(28, 12, 196, 0.1);
    /* background-image: linear-gradient(to right, #ccc, rgb(168, 183, 237)); */
}
.signup:focus{
    border: none;
}
.signup-wrapper-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 350px;
    height: 60px;
    /* background-color: rgb(200, 118, 19); */
}

.icon1 {
    position: absolute;
    right: 24px;
    top: 25px;
    cursor: pointer;
}

h2 {
    color: #101828;
    position: absolute;
    left: 24px;
    top: 20px;
    margin: 0px;
    font-family: 'Noto sans', sans-serif;
    font-weight: 500;
    font-size: medium;
    justify-content: flex-start;
}

.signup-wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 320px;
    /* background-color: bisque; */
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
}

.text-box-label {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-family: 'Noto sans', sans-serif;
    color: #344054;
    font-size: smaller;
}

.text-1 {
    border-radius: 6px;
    height: 30px;
    border: 2px solid #D0D5DD;
    width: 270px;
}

.text-1::placeholder {
    color: #999;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
}

.signup-wrapper-3-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    color: #344054;
    margin-top: 10px;
}

.signup-wrapper-3 {
    /* background-color: aquamarine; */
    display: flex;
    width: 250px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

.icon2 {
    color:#7F56D9;
    cursor: pointer;
}

p {
    margin: 0;
}

.button {
    margin-top: 10px;
    align-items: center;
    display: flex;
    /* background-color: beige; */
    justify-content: space-evenly;
    height: 44px;
    width: 270px;
}

.submit {
    background-color: #7F56D9;
    color: #FFF;
    width: 100px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 8px #e6e6e6;
}

.cancel {
    background-color: #fff;
    color: #171717;
    width: 100px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px #e6e6e6;
}

.submit:hover {
    /* background-color: #3730A3; */
    background-color: #171717;
    /* cursor: pointer; */
    /* animation: fadeIn 2s ease-out; */
}

.cancel:hover {
    background-color: #ccc;
}
.link{
    color: #7F56D9;
    font-family: 'Noto Sans', sans-serif;
}
.signup-wrapper-4{
    margin-top: 10px;
    display: flex;
    font-size: 10px;
    flex-direction: row;
}

@keyframes fadeIn {
    from {
        background-color: #7F56D9;
    }

    to {
        background-color: #171717;
    }
}